//Compiled into application.scss
// --- All variables will go here


//Font Stuff
$strongFont : 'Oswald', sans-serif;
$mainFont : 'Quattrocento', serif;


//Base Units
$base-unit : 1.25rem;
$half-unit : 0.625rem;


//Colors
$white : #fff;
$grayLight: #f0f1ef;
$grayMedium: #95988d;
$grayDark: #333333;
$lightBlue: #366fa3;

$color-text-primary: $grayDark;
$color-text-secondary: $lightBlue;

//Root Variables
:root {
  --default-bg-color: #{$white};
  --heading-color: #{$grayDark};
  --heading-accent-color: #{$grayMedium};
  --text-color: #{$grayDark};
  --link-color: #{$lightBlue};
  --minimal-header-accent: #{$lightBlue};
  --client-logo-color: #{$grayDark};
  --social-icon-color: #{$grayDark};
  --social-icon-color-hover: #{lighten($grayDark, 10%)};
}

//Themes
:root.dark-mode {
  --default-bg-color: #{$grayDark};
  --heading-color: #{$grayLight};
  --heading-accent-color: #{$grayMedium};
  --text-color:  #{$white};
  --link-color: #{lighten($lightBlue, 20%)};
  --minimal-header-accent: #{$lightBlue};
  --client-logo-color: #{$grayLight};
  --social-icon-color: #{$grayLight};
  --social-icon-color-hover: #{lighten($grayLight, 10%)};
}

//Z-index Tracking
$zindex-theme-switcher: 100;

//Mixins and Stuff
@mixin breakpoint($point) {
  @if $point == large-fry {
    @media (min-width: 56.25rem) { @content; } // 900px
  }

  @else if $point == small-fry {
    @media (min-width: 37.5rem)  { @content; } // 600px
  }
}
