/*
 * TimDunklee.com - Version 5.0 2019
 *
 * Hey thanks for looking at my CSS, this must mean you are cool.
 * This site was built with SASS/SCSS * Shoot me an email with any questions/concerns: tjdunklee@gmail.com.
 */

//import awesome variables and mixins
@import "variables";

/*==========================================================================
  RESET
  ========================================================================== */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size:100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

// SET BORDER BOX SIZING BECAUSE IT IS AWESOME
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto !important;
}

svg {
  vertical-align: middle;
}

/*==========================================================================
  TYPOGRAPHY
  ========================================================================== */

body {
  font-size: 1.125rem;
  line-height: 1.5;
  font-family: $mainFont;
  color: var(--text-color);
  background-color: var(--default-bg-color);

  @include breakpoint(small-fry) {
    font-size: 1.25rem;
  }
}

h1, h2, h3, h4, h5 {
  font-weight: 700;
  line-height: 1.1;
  font-family: $strongFont;
}

h1, .h1 {
  font-size: 3.75rem; // 60px
}
h2, .h2 {
  font-size: 3rem; // 48px
}
h3, .h3 {
  font-size: 2.25rem; // 36px
}
h4, .h4 {
  font-size: 1.5rem; // 24px
}
h5, .h5 {
  font-size: 1.25rem; // 20px
}
.h6 {
  font-size: 1rem; // 16px
}

a, a:visited {
  color: var(--link-color);
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: underline;
}

p a {
  text-decoration: underline;

  &:focus,
  &:hover {
    text-decoration: none;
  }
}

p {
  margin-bottom: $base-unit;

  &:last-child {
    margin-bottom: 0;
  }
}


/*==========================================================================
  ICONS
  ========================================================================== */

.icon {
  width: 2.5rem;
  height: 2.5rem;
}


/*==========================================================================
  GENERAL LAYOUT
  ========================================================================== */

.wrap {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 $base-unit;
}

.wrap--narrow {
  max-width: 50rem;
}


/*==========================================================================
  HEADER
  ========================================================================== */

.header {
  position: relative;
  text-align: center;
}

.header__inner {
  position: relative;
}

.logo {
  font-family: $strongFont;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.02em;

  > span {
    font-weight: 300;
    font-size: 1.05em; // keep it relative to the size of the rest
    letter-spacing: normal;
  }
}

.logo--large {
  font-size: 3.75rem;

  @include breakpoint(small-fry) {
    font-size: 5rem;
  }
}

.logo--minimal {
  color: var(--text-color);
  font-size: 2.25rem;

  &:visited {
    color: var(--text-color);
  }

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.theme-switcher {
  position: absolute;
  top: $base-unit;
  right: $base-unit;
  z-index: $zindex-theme-switcher;
  cursor: pointer;
  padding: 0;
  border: 0;
  background: transparent;
  
  .header-minimal & {
    position: relative;
    top: auto;
    right: auto;
  }
}

.theme-icon {
  display: none;
  fill: var(--text-color);
}

.theme-icon--winter {
  display: inline-block;
  
  .dark-mode & {
    display: none;
  }
}

.dark-mode .theme-icon--sun {
  display: inline-block;
}

.welcome-paragraph {
  font-size: 2.75rem;
  margin-top: $half-unit;
}

.header-content {
  position: relative;
  padding: $base-unit*8 0;
  z-index: 20;
}

.header-minimal {
  padding: $half-unit 0;
  border-top: 0.25rem solid var(--minimal-header-accent);

  .header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}

@-webkit-keyframes blink {
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}

@-moz-keyframes blink {
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}


/*==========================================================================
  SECTIONS
  ========================================================================== */

.section {
  padding: $base-unit*2 0;

  @include breakpoint(large-fry) {
    padding: $base-unit*3 0;
  }
}

.section-header {
  position: relative;
  color: var(--heading-color);
  text-align: center;
  margin-bottom: $half-unit*3;

  &:after {
    content: '';
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    height: 0;
    border-top: 0.25rem solid var(--heading-accent-color  );
    margin-top: -0.25rem;
    z-index: 1;
  }
}

.section-header__heading {
  position: relative;
  display: inline-block;
  background: var(--default-bg-color);
  z-index: 2;
  padding: 0 $base-unit;
}


/*==========================================================================
  WORK
  ========================================================================== */

.work-items {
  display: grid;
  grid-gap: $base-unit * 2;

  @include breakpoint(small-fry) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.work-item__title {
  margin-bottom: $half-unit/2;
}

.work-item__img {
  border: 0.125rem solid $grayLight;
  margin-bottom: $half-unit;

  > img {
    display: block;
  }
}

.work-logos {
  margin-top: $base-unit * 3;
}

.work-logos__heading {
  margin-bottom: $base-unit * 1.5;
  text-align: center;
  font-size: 1.8rem;
}

.work-logos__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(auto-fit, 4rem);
  grid-auto-rows: 4rem;
  grid-gap: $base-unit;
  max-width: 50rem;
  margin: 0 auto;
  list-style: none;

  @include breakpoint(small-fry) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.work-logos__grid-item {
  svg {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    fill: var(--client-logo-color);
  }
}


/*==========================================================================
  ABOUT
  ========================================================================== */

.about-grid {
  display: grid;
  grid-gap: $base-unit * 2;

  @include breakpoint(large-fry) {
    grid-template-columns: 1fr 2fr;
  }
}

.about__headshot {
  text-align: center;
}


/*==========================================================================
  NOTES
  ========================================================================== */

.notes-list {
  list-style: none;
}

.notes-list__item + .notes-list__item {
  margin-top: $base-unit * 1.5;
}

.note-meta {
  text-transform: uppercase;
  font-family: $strongFont;
  font-weight: 700;
  font-size: 1rem;
}


/*==========================================================================
  POSTS
  - handles both notes and also work details
========================================================================== */

.post {
  padding: $base-unit*3 0;
}

.post__header {
  margin-bottom: $base-unit;
}

.post__title {
  margin-bottom: $half-unit;
}

.post__callout {
  font-size: 1.5rem;

  @include breakpoint(small-fry) {
    font-size: 1.8rem;
  }
}

.post__meta {
  text-transform: uppercase;
  font-family: $strongFont;
  font-weight: 700;
  font-size: 1rem;
}

.post__details {
  margin-bottom: $base-unit * 2;
  margin-top: $base-unit * 2;

  @include breakpoint(small-fry) {
    display: flex;
    justify-content: space-between;
  }
}

.post__details-section {
  & + & {
    margin-top: $base-unit;

    @include breakpoint(small-fry) {
      margin-top: 0;
    }
  }
}

.post__details-heading {
  margin-bottom: $half-unit;
}

.post__details-list {
  list-style: none;
  font-size: 1rem;
}

.post__details-link {
  display: block;
  font-size: 1rem;
}

.post__content {
  h1, h2, h3, h4, h5 {
    margin-top: $base-unit * 2;
    margin-bottom: $half-unit;

    &:first-child {
      margin-top: 0;
    }
  }

  h2 { font-size: 1.8rem; }
  h3 { font-size: 1.2rem; }
  h4 { font-size: 1rem; }

  ul, ol {
    margin-left: $base-unit;
    margin-bottom: $base-unit;
    font-size: 0.9em;
  }

  li + li {
    margin-top: $half-unit/2;
  }
}


/*==========================================================================
  CONTACT
  ========================================================================== */

.contact-email {
  font-family: $strongFont;
  font-weight: 700;
  margin-bottom: $half-unit * 3;
  font-size: 1.2rem;
}

.social {
  font-size: 2rem;
}

.social__item {
  display: inline-block;
  fill: var(--social-icon-color);
  margin-left: $half-unit;
  text-decoration: none;

  & + & {
    margin-left: $half-unit;
  }

  &:hover, &:focus {
    fill: var(--social-icon-color-hover);
  }
}


/*==========================================================================
  NOT FOUND aka 404
  ========================================================================== */

.not-found {
  padding: $base-unit*3 0;
  text-align: center;
}

.not-found__title {
  font-size: 22vw;
}

/*==========================================================================
  FOOTER
  ========================================================================== */

footer {
  padding: $base-unit 0;
  text-align: center;
}


/*==========================================================================
  HELPERS
  ========================================================================== */

// Hiding w/o display:none; for accessibility
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}


/*==========================================================================
  SYNTAX HIGHLIGHTING
  ========================================================================== */

.gatsby-highlight {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
