/* TimDunklee.com - Version 3.0 2016  Hey thanks for looking at my CSS, this must mean you are cool. This site was built with SASS/SCSS * Shoot me an email with any questions/concerns: tjdunklee@gmail.com. */
/*========================================================================== RESET ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

img { max-width: 100%; height: auto !important; }

/*========================================================================== TYPOGRAPHY ========================================================================== */
html { font-size: 18px; }
@media (min-width: 600px) { html { font-size: 20px; } }

body { line-height: 1.5; font-family: "Quattrocento", serif; color: #333333; }

h1, h2, h3, h4, h5 { font-weight: 700; line-height: 1.1; font-family: "Oswald", sans-serif; }

h1, .h1 { font-size: 3rem; }

h2, .h2 { font-size: 2.4rem; }

h3, .h3 { font-size: 1.8rem; }

h4, .h4 { font-size: 1.2rem; }

h5, .h5 { font-size: 1rem; }

.h6 { font-size: 0.8rem; }

a, a:visited { color: #3e80bd; text-decoration: none; }

a:hover, a:focus { color: #95988d; text-decoration: underline; }

p a:hover, p a:focus { color: #95988d; text-decoration: underline; }

p { margin-bottom: 1rem; }
p:last-child { margin-bottom: 0; }

/*========================================================================== ICONS ========================================================================== */
.icon { width: 2rem; height: 2rem; }

/*========================================================================== GRID ========================================================================== */
.grid { margin-left: -1rem; list-style: none; margin-bottom: 0; *zoom: 1; }
.grid:before, .grid:after { display: table; content: ""; }
.grid:after { clear: both; }

.grid > .grid { margin-left: 0; }

.grid__item { float: left; width: 100%; padding-left: 1rem; vertical-align: top; transition: width .5s ease; }

.one-whole { width: 100%; }

.one-half, .two-quarters { width: 50%; }

.one-third { width: 33.333%; }

.two-thirds { width: 66.666%; }

.one-quarter { width: 25%; }

.three-quarters { width: 75%; }

@media (min-width: 600px) { .s-fry-one-whole { width: 100%; }
  .s-fry-one-half, .s-fry-two-quarters { width: 50%; }
  .s-fry-one-third { width: 33.333%; }
  .s-fry-two-thirds { width: 66.666%; }
  .s-fry-one-quarter { width: 25%; }
  .s-fry-three-quarters { width: 75%; } }
@media (min-width: 900px) { .l-fry-one-whole { width: 100%; }
  .l-fry-one-half, .l-fry-two-quarters { width: 50%; }
  .l-fry-one-third { width: 33.333%; }
  .l-fry-two-thirds { width: 66.666%; }
  .l-fry-one-quarter { width: 25%; }
  .l-fry-three-quarters { width: 75%; } }
/*========================================================================== GENERAL LAYOUT ========================================================================== */
.wrap { max-width: 1200px; margin: 0 auto; padding: 0 1rem; }

.wrap--narrow { max-width: 800px; }

/*========================================================================== HEADER ========================================================================== */
.header { position: relative; background: transparent url(../images/bg-hero-padre.jpg) no-repeat center center; background-size: cover; text-align: center; color: #fff; }

.logo { font-family: "Oswald", sans-serif; font-weight: 700; text-transform: uppercase; letter-spacing: 0.02em; }
.logo > span { font-weight: 300; font-size: 1.05em; letter-spacing: normal; }

.logo--large { font-size: 3rem; }
@media (min-width: 600px) { .logo--large { font-size: 4rem; } }

.logo--minimal > a { font-size: 1.8rem; color: #fff; }
.logo--minimal > a:hover, .logo--minimal > a:focus { text-decoration: none; }

.welcome-paragraph { font-size: 2.2rem; margin-top: 0.5rem; }

.header-content { position: relative; padding: 8rem 0; z-index: 20; }

.header-minimal { padding: 0.5rem 0; background-color: #333333; border-top: 4px solid #3e80bd; }

.typed-cursor { opacity: 1; -webkit-animation: blink 0.7s infinite; -moz-animation: blink 0.7s infinite; animation: blink 0.7s infinite; }

@keyframes blink { 0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; } }
@-webkit-keyframes blink { 0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; } }
@-moz-keyframes blink { 0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; } }
/*========================================================================== SECTIONS ========================================================================== */
.section { padding: 2rem 0; }

.section--dark { background-color: #f0f1ef; }

.section-header { position: relative; color: #333333; text-align: center; margin-bottom: 1.5rem; }
.section-header:after { content: ''; position: absolute; width: 100%; top: 50%; left: 0; height: 1px; border-top: 4px solid #95988d; margin-top: -4px; z-index: 1; }

.section-header__heading { position: relative; display: inline-block; background: white; z-index: 2; padding: 0 1rem; }
.section--dark .section-header__heading { background-color: #f0f1ef; }

/*========================================================================== WORK ========================================================================== */
.work-item { margin: 0 auto 1.5rem; }
@media (min-width: 600px) { .work-item:nth-of-type(2n + 1) { clear: left; } }
@media (min-width: 900px) { .work-item:nth-of-type(2n + 1) { clear: none; } }
@media (min-width: 900px) { .work-item:nth-of-type(3n + 1) { clear: left; } }

.work-item__img { border: 2px solid #f0f1ef; margin-bottom: 0.5rem; }

/*========================================================================== ABOUT ========================================================================== */
.about__headshot { text-align: center; margin-bottom: 2rem; }
@media (min-width: 900px) { .about__headshot { margin-bottom: 0; } }

/*========================================================================== NOTES ========================================================================== */
.notes-list { list-style: none; }

.notes-list__item + .notes-list__item { margin-top: 1rem; }

.note-meta { text-transform: uppercase; font-family: "Oswald", sans-serif; font-weight: 700; font-size: 0.75rem; }

/*========================================================================== POSTS - handles both notes and also work details
========================================================================== */
.post { padding: 3rem 0; }

.post__header { margin-bottom: 1rem; }

.post__title { margin-bottom: 0.5rem; }

.post__meta { text-transform: uppercase; font-family: "Oswald", sans-serif; font-weight: 700; font-size: 0.75rem; }

.post__content h1, .post__content h2, .post__content h3, .post__content h4, .post__content h5 { margin-top: 2rem; margin-bottom: 0.5rem; }
.post__content h1:first-child, .post__content h2:first-child, .post__content h3:first-child, .post__content h4:first-child, .post__content h5:first-child { margin-top: 0; }
.post__content h2 { font-size: 1.8rem; }
.post__content h3 { font-size: 1.2rem; }
.post__content h4 { font-size: 1rem; }

/*========================================================================== CONTACT ========================================================================== */
.contact-email { font-family: "Oswald", sans-serif; font-weight: 700; margin-bottom: 1.5rem; font-size: 1.2rem; }

.social { font-size: 2rem; }

.social__item { display: inline-block; fill: #333333; margin-left: 0.5rem; text-decoration: none; }
.social__item + .social__item { margin-left: 0.5rem; }
.social__item:hover, .social__item:focus { fill: #95988d; }

/*========================================================================== NOT FOUND aka 404 ========================================================================== */
.not-found { padding: 3rem 0; text-align: center; }

.not-found__title { font-size: 22vw; }

/*========================================================================== FOOTER ========================================================================== */
footer { padding: 1rem 0; text-align: center; color: white; background-color: #333333; }

/*========================================================================== HELPERS ========================================================================== */
.clearfix { *zoom: 1; }
.clearfix:before, .clearfix:after { display: table; content: ""; }
.clearfix:after { clear: both; }

.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

.text-left { text-align: left; }

.text-right { text-align: right; }

.text-center { text-align: center; }

/*========================================================================== SYNTAX HIGHLIGHTING ========================================================================== */
/** Syntax highlighting styles */
.highlight { background-color: #f0f1ef; margin: 1rem 0; padding: 1rem; font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace; font-size: 0.8rem; overflow-x: auto; }
@media (min-width: 900px) { .highlight { margin-left: 1rem; margin-right: 1rem; } }
.highlight .c { color: #998; font-style: italic; }
.highlight .err { color: #a61717; background-color: #e3d2d2; }
.highlight .k { font-weight: bold; }
.highlight .o { font-weight: bold; }
.highlight .cm { color: #998; font-style: italic; }
.highlight .cp { color: #999; font-weight: bold; }
.highlight .c1 { color: #998; font-style: italic; }
.highlight .cs { color: #999; font-weight: bold; font-style: italic; }
.highlight .gd { color: #000; background-color: #fdd; }
.highlight .gd .x { color: #000; background-color: #faa; }
.highlight .ge { font-style: italic; }
.highlight .gr { color: #a00; }
.highlight .gh { color: #999; }
.highlight .gi { color: #000; background-color: #dfd; }
.highlight .gi .x { color: #000; background-color: #afa; }
.highlight .go { color: #888; }
.highlight .gp { color: #555; }
.highlight .gs { font-weight: bold; }
.highlight .gu { color: #aaa; }
.highlight .gt { color: #a00; }
.highlight .kc { font-weight: bold; }
.highlight .kd { font-weight: bold; }
.highlight .kp { font-weight: bold; }
.highlight .kr { font-weight: bold; }
.highlight .kt { color: #458; font-weight: bold; }
.highlight .m { color: #099; }
.highlight .s { color: #d14; }
.highlight .na { color: #008080; }
.highlight .nb { color: #0086B3; }
.highlight .nc { color: #458; font-weight: bold; }
.highlight .no { color: #008080; }
.highlight .ni { color: #800080; }
.highlight .ne { color: #900; font-weight: bold; }
.highlight .nf { color: #900; font-weight: bold; }
.highlight .nn { color: #555; }
.highlight .nt { color: #000080; }
.highlight .nv { color: #008080; }
.highlight .ow { font-weight: bold; }
.highlight .w { color: #bbb; }
.highlight .mf { color: #099; }
.highlight .mh { color: #099; }
.highlight .mi { color: #099; }
.highlight .mo { color: #099; }
.highlight .sb { color: #d14; }
.highlight .sc { color: #d14; }
.highlight .sd { color: #d14; }
.highlight .s2 { color: #d14; }
.highlight .se { color: #d14; }
.highlight .sh { color: #d14; }
.highlight .si { color: #d14; }
.highlight .sx { color: #d14; }
.highlight .sr { color: #009926; }
.highlight .s1 { color: #d14; }
.highlight .ss { color: #990073; }
.highlight .bp { color: #999; }
.highlight .vc { color: #008080; }
.highlight .vg { color: #008080; }
.highlight .vi { color: #008080; }
.highlight .il { color: #099; }
