$mq-s: 30rem; /* 480px */
$mq-m: 48rem; /* 768px */
$mq-l: 61.25rem; /* 980px */
$mq-xl: 64rem; /* 1024px */
$mq-xxl: 75rem; /* 1200px */

$spacing-xxl: 1.875rem;
$spacing-xl: 1.25rem;
$spacing-l: 0.937rem;
$spacing: 0.625rem;
$spacing-s: 0.312rem;

$color-black: #000000;
$color-white: #f4f2ed; // It's actually tan! Surprise.

$strongFont: 'Oswald', sans-serif;
$mainFont: 'Quattrocento', serif;

$speed: 250ms;