---
import {format, parse} from 'date-fns';
import Layout from '../layouts/Layout.astro';

// Pull all notes, sort them by date, and exclude all drafts
const unsortedNotes = await Astro.glob('./notes/**/*.md');
const notes = unsortedNotes.sort(function (a, b) {
	return (
		new Date(b.frontmatter.date).valueOf() - new Date(a.frontmatter.date).valueOf()
	);
});
const nonDraftNotes = notes.filter((note) => !note.frontmatter.draft);
---

<Layout title="Tim Dunklee - Front End Web Developer - Minneapolis MN" isHome={true}>

	<ul>
		{nonDraftNotes.map(note => {
			const date = new Date(note.frontmatter.date);

			return (
				<li>
					<div>{format(date, 'MMMM do, yyyy')}</div>
					<a href={note.url}>{note.frontmatter.title}</a>
				</li>
				)
		})}
	</ul>

</Layout>

<style>
</style>
