<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <% if (page.title) { %>
  <title><%= page.title %> - <%= config.title %></title>
  <% } else { %>
  <title><%= config.title %> - Front-End Web Developer - Minneapolis MN %></title>
  <% } %>
  <meta name="description" content="<%- config.description %>">

  <link href='https://fonts.googleapis.com/css?family=Quattrocento|Oswald:300,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/assets/scss/application.css">

  <link rel="shortcut icon" href="/favicon.ico?v=3">
</head>