<!DOCTYPE html>
<html lang="en" class="theme-winter">

  <%- partial('_partials/head') %>

  <body>

    <%- partial('_partials/header') %>

    <main class="main-content">
      <%- body %>
    </main>

    <%- partial('_partials/footer') %>

  </body>

</html>