<!DOCTYPE html>
<html lang="en">

  <%- partial('_partials/head') %>

  <body>

    <%- partial('_partials/header') %>

    <div class="main-content">
      <%- body %>
    </div>

    <%- partial('_partials/footer') %>

  </body>

</html>