---
import logo from './logo-tim-dunklee.svg';

export interface Props {
	isHome?: boolean;
}

const { isHome } = Astro.props;

---

<header class={isHome ? "header" : "header header-minimal"}>
  {isHome &&
    <h1 class="heading"><img src={logo} alt="Tim Dunklee" width="489" height="237" /></h1>
  }
  {!isHome &&
    <a href="/" class="home-anchor"><img class="logo" src={logo} alt="Site Homepage" /></a>
  }
</header>

<style lang="scss">
  @import '../../styles/vars';

  .header {
    padding: ($spacing-xxl * 2) $spacing-xl ($spacing-xxl * 5);
    background-color: $color-white;
    text-align: center;
    background-image: url('./mountain-bg.svg');
    background-repeat: repeat-x;
    background-position: bottom -2px center;
    background-size: 25rem;

    @media screen and (min-width: $mq-m) {
      padding-bottom: ($spacing-xxl * 5);
    }
  }

  .header-minimal {
    padding-top: $spacing-l;
    padding-bottom: $spacing-xxl;
    background-size: 10rem;
  }

  .heading {
    margin: 0;
  }

  .home-anchor {
    display: inline-block;
    max-width: 10rem;
  }

</style>