---
import logo from './logo-tim-dunklee.svg';
import logoLight from './logo-tim-dunklee-light.svg';

---

<footer class="footer">
  <div class="wrap">
    <p>If you want to know more about my skillset or are just looking for a friend.</p>
    <p><a class="contact-email" href="mailto:tjdunklee@gmail.com">tjdunklee@gmail.com</a></p>
    <p class="copyright">Made by Tim with a <a href="https://www.flickr.com/photos/timdunklee/6894884410/">large dog</a> on his&nbsp;lap. ©2020</p>
  </div>
</footer>

<style lang="scss">
  @import '../../styles/vars';

  .footer {
    text-align: center;
  }

  .contact-email {
    font-family: $strongFont;
    font-weight: 700;
    font-size: 1.2rem;
  }

  .copyright {
    font-size: 1rem;
  }

</style>