---
import Header from "../components/header/Header.astro";

export interface Props {
	title: string;
	isHome?: boolean;
}

let { title }    = Astro.props.content || Astro.props;
const { isHome } = Astro.props as Props;

if ( !isHome ) {
	title = `${title} | Tim Dunklee`;
}

---

<style lang="scss">
	@import '../styles/normalize';
	@import '../styles/vars';

	:global(*, *:after, *:before) {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	:global(img) {
		max-width: 100%;
		height: auto !important;
	}

	:global(svg) {
		vertical-align: middle;
	}

	html {
		color: $color-white;
		background-color: $color-black;
	}
</style>

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="The personal portfolio of front-end web developer and boardsports enthusiast Tim Dunklee." />
		<meta name="msapplication-TileColor" content="#333333" />
		<title>{title}</title>
	</head>
	<body>
		<Header isHome={isHome} />
		<slot />
	</body>
</html>
