---
import '../styles/normalize.css';
import '../styles/vars.css';
import '../styles/global.css';
import { Image } from 'astro:assets';
import Layout from "./Layout.astro";
import {format, parse} from 'date-fns';
import trail4 from '../assets/trail-4.svg';

const {frontmatter} = Astro.props;
const date = new Date(frontmatter.pubDate);
---

<Layout title={frontmatter.title}>
  <article class="post">
    <div class="wrap wrap--narrower">

      <header class="post__header">
        <h1 class="h2 post__title">{frontmatter.title}</h1>
        <p class="post__meta">{format(date, 'MMMM do, yyyy')}</p>
      </header>
  
      <div class="post__content">
        <slot />

        <h2>Want to read more?</h2>
        <p>Check out <a href="/notes">all of my notes</a>.</p>
      </div>

      <div class="post__trail">
        <Image src={trail4} width="205" height="287" alt="" loading="lazy" />
      </div>

    </div>
  </article>
</Layout>
