---
import Layout from "./Layout.astro";
import {format, parse} from 'date-fns';

const {frontmatter} = Astro.props;
const date = new Date(frontmatter.date);
---

<Layout title={frontmatter.title}>
  <article class="post">
    <div class="wrap wrap--narrower">

      <header class="post__header">
        <h1 class="h2 post__title">{frontmatter.title}</h1>
        <p class="post__meta">{format(date, 'MMMM do, yyyy')}</p>
      </header>
  
      <div class="post__content">
        <slot />
      </div>

    </div>
  </article>
</Layout>